body {
  font-family: $base-font-family;
  background-color: $grey;
  color: $black;
}

.header {
  text-align: right;
  width: 100%;
  display: block;

  .logo a {
    width: 50%;
    float: left;
    display: block;
    font-size: 10em;
    line-height: 0.75em;
    color: $black;
    letter-spacing: -0.025em;
  }
}

a {
  text-decoration: none;
  color: $white;
}

.scroll-numbers {
  display: block;
  width: auto;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  list-style: none;
  color: $white;
  background-color: $black;
  cursor: -webkit-grab;

    li {
      display: inline-block;

      h2 a {
        font-size: 8em;
        vertical-align: middle;
      }
    }
}
