.Two {
  margin-top: 40px;
  padding-bottom: 15em;
  //background-image: url(../img/concrete_seamless.png);
  //background-blend-mode: soft-light;
  background-color: $black;
  border: 1px rgba(255,255,255,0.25) solid;
  overflow-y: scroll;
  width: 100%;

  .header {
    @include span(12);
    background-image: url(../img/mt-baker.jpg);
    background-size: 100% 100%;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -ms-animation-duration: 4s;

    h1 {
      @include span(1);
      z-index: -1;
      font-size: 10em;
      display: block;
      color: $white;
      text-transform: uppercase;

      span {
        text-align: center;
        margin: 0 auto;
        display: block;
        border: 1px rgba(255,255,255,0.25) solid;
        -webkit-animation-duration: 3s;
        -moz-animation-duration: 3s;
        -ms-animation-duration: 3s;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -ms-animation-delay: 1s;
      }
    }
  }

  figure {
    @include span(12);
    display: block;
    position: relative;
    margin: 0;
    padding: 0;

    figcaption {
      position: absolute;
      bottom: 2em;
      left: 2em;
      text-align: center;
      color: $white;
      font-weight: bold;
    }
  }

  img {
    @include span(12);
    opacity: 0.5;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;

    &:hover {
      opacity: 1;
    }
  }

  .text {
    color: $white;
    padding-right: 1em;
    font-size: 1.75em;
    line-height: 2em;
    font-family: Georgia, serif;
    @include pre(2);
    @include span(8);
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
  }

  .bottom-header {
    @include span(12);
    color: $white;
    font-size: 4em;
    text-align: center;
  }
}
